@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&display=swap');

.blue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #143950; /* Blue background */
  color: white;
  position: relative;
}

.blue-logo {
  display: flex;
  align-items: center;
}

.blue-header-circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.blue-logo span {
  font-family: 'Inria Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.blue-nav-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.blue-nav-links li {
  margin: 0 15px;
  position: relative;
}

.blue-nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.blue-nav-links a:hover {
  color: #E3B23C;
}

/* Right corner - Get Info Button and Icons */
.blue-header-right {
  display: flex;
  align-items: center;
}

.blue-get-info-btn {
  background-color: #181616;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s ease;
  font-family: 'Instrument Sans', sans-serif;
}

.blue-get-info-btn:hover {
  background-color: #1D3557;
}

/* Icon Containers */
.blue-icons {
  display: flex;
  gap: 15px;
}

.blue-icon {
  background-color: #181616;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.blue-icon:hover {
  background-color: #1D3557;
}

.blue-icons .blue-icon a {
  text-decoration: none;
  color: white;
}

.blue-icons .blue-icon a:hover {
  color: white;
}

.blue-search-icon i,
.blue-menu-icon i {
  font-size: 15px;
}
