 /* Footer */
 .bluefooter-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #061F2F;
    border-top: 2px solid #ddd;
  }
  .bluefooter-user div {
    margin: 0 15px;
    font-size: 14px;
    color: #AFAF9D;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .bluefooter-user div:hover {
    color: black;
  }
  