@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&display=swap');

/* Header.css */
.header-cream {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E7E7DF;
  color: black;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.headercircle {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
}

.logo span {
  font-family: 'Inria Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #8F7131;
  /* Hover effect */
}

/* Right corner - Get Info Button and Icons */
.header-right {
  display: flex;
  align-items: center;
}

.get-info-btn {
  background-color: #3d3c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s ease;
  font-family: 'Instrument Sans', sans-serif;
}

.get-info-btn:hover {
  background-color: #333;
}

/* Icon Containers */
.icons {
  display: flex;
  gap: 15px;
}

.icon {
  background-color: #3d3c3c;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.icon:hover {
  background-color: #333;
}

.icons .icon a {
  text-decoration: none;
  color: white;
}

.icons .icon a:hover {
  color: white;
}

.search-icon i,
.menu-icon i {
  font-size: 15px;
}