body {
  font-family: "Arial", sans-serif;
  background-color: #143950;
  color: white;
  margin: 0;
  padding: 0;
}

/* Header Section */
.view-header {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  border-bottom: 1px solid #143950;
  margin-top: 40px;
}

.back-arrow {
  cursor: pointer;
  margin-left: 30px;
}

/* Title Styling */
.title {
  text-align: left;
  font-size: 22px;
  margin: 20px 50px;
  color: white;
  margin-top: 50px;
}

/* Translation Container */
.translation-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px auto;
  max-width: 90%;
}

/* Columns */
.column {
  background-color: #143950;
  padding: 15px;
  border-radius: 8px;
  width: 30%;
  min-height: 300px;
  color: white;
  text-align: justify;
  border: 1px solid white;
}

.column h3 {
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: white;
}

/* Video Player */
.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.play-icon {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.video-timestamp {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}
